{% extends 'Back/base.html.twig' %}

{% block title %}Détails du sponsor{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Détails du sponsor</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ sponsor.nom_Sp }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>ID</th>
                                            <td>{{ sponsor.id_Sp }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <td>{{ sponsor.nom_Sp }}</td>
                                        </tr>
                                        <tr>
                                            <th>Type</th>
                                            <td>{{ sponsor.type_Sp }}</td>
                                        </tr>
                                        <tr>
                                            <th>Montant du contrat</th>
                                            <td>{{ sponsor.montantContrat }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date de début</th>
                                            <td>{{ sponsor.dateDebut ? sponsor.dateDebut|date('d/m/Y') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date de fin</th>
                                            <td>{{ sponsor.dateFin ? sponsor.dateFin|date('d/m/Y') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Match associé</th>
                                            <td>{{ sponsor.gestionMatch ? sponsor.gestionMatch.nom : 'Aucun' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_sponsor_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour à la liste
                        </a>
                        <a href="{{ path('app_sponsor_edit', {'id_Sp': sponsor.id_Sp}) }}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                        <form method="post" action="{{ path('app_sponsor_delete', {'id_Sp': sponsor.id_Sp}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce sponsor ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsor.id_Sp) }}">
                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i> Supprimer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
