{% extends 'Back/base.html.twig' %}

{% block title %}Modifier le Tournoi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/tournoiBack.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="tournoi-container">
        <h1 class="page-title">Modifier le tournoi</h1>

        <div class="tournoi-form-container">
            {{ include('tournoi/_form.html.twig', {'button_label': 'Modifier'}) }}

            <div class="actions-container">
                <a href="{{ path('app_tournoi_indexBack') }}" class="btn btn-view">Retour à la liste</a>
                {{ include('tournoi/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
