{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <section class="us_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2 class="wow fadeInDown" data-wow-delay="0.3s">
                    Pourquoi Choisir Sporthive ?
                </h2>
            </div>

            <div class="us_container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box">
                            <div class="img-box">
                                <img src="{{ asset('img/u-1.png') }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    RÉSERVATION DE TERRAIN
                                </h5>
                                <p>
                                    Réservez un terrain en quelques clics selon votre sport préféré et votre créneau idéal.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box">
                            <div class="img-box">
                                <img src="{{ asset('img/u-4.png') }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    REJOINDRE UNE ÉQUIPE
                                </h5>
                                <p>
                                    Rejoignez une équipe existante ou créez la vôtre pour jouer en groupe et progresser ensemble.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box">
                            <div class="img-box">
                                <img src="{{ asset('img/u-2.png') }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    ASSURANCE & RÉCLAMATIONS
                                </h5>
                                <p>
                                    Souscrivez une assurance sportive et gérez vos réclamations en toute simplicité depuis l'appli.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="box">
                            <div class="img-box">
                                <img src="{{ asset('img/u-3.png') }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    COMPÉTITIONS SPORTIVES
                                </h5>
                                <p>
                                    Participez à des compétitions organisées par la salle et affrontez d'autres équipes !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="heathy_section layout_padding wow fadeIn" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="detail-box">
                        <h2>
                            UNE EXPÉRIENCE SPORTIVE COMPLÈTE
                        </h2>
                        <p>
                            Notre plateforme vous offre bien plus qu'un simple espace sportif. Réservez vos terrains en toute simplicité, rejoignez des équipes dynamiques, participez à des compétitions passionnantes, et assurez votre pratique grâce à une gestion facile des assurances et des réclamations. Que vous soyez amateur ou compétiteur, nous avons tout prévu pour vous accompagner dans votre parcours sportif, en toute sécurité et avec flexibilité.
                        </p>
                        <div class="btn-box">
                            <a href="#" class="btn-primary btn-lg wow pulse" data-wow-delay="0.5s" data-wow-iteration="infinite" data-wow-duration="1.5s">
                                EN SAVOIR PLUS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <!-- WOW.js for animations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}
