{% extends 'Back/base.html.twig' %}

{% block title %}Competition{% endblock %}

{% block body %}
    <div class="competition-show-container">
        <h1>Competition</h1>

        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ competition.Nom }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ competition.Type }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ competition.Date ? competition.Date|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Heure</th>
                    <td>{{ competition.Heure ? competition.Heure|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ competition.Description }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_competition_indexBack') }}">← retour a liste</a>
        <a href="{{ path('app_competition_editBack', {'ID': competition.ID}) }}">✏️ modifier</a>

        {{ include('competition/_delete_form.html.twig') }}
    </div>
{% endblock %}
