{% extends 'Back/base.html.twig' %}

{% block title %}Détails du Match{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Détails du Match</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Informations du match</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ gestion_match.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ gestion_match.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ gestion_match.type }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ gestion_match.description }}</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>{{ gestion_match.date ? gestion_match.date|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Heure</th>
                                    <td>{{ gestion_match.heure ? gestion_match.heure|date('H:i') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_gestion_match_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour à la liste
                        </a>
                        <a href="{{ path('app_gestion_match_edit', {'id': gestion_match.id}) }}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                        <form method="post" action="{{ path('app_gestion_match_delete', {'id': gestion_match.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce match ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gestion_match.id) }}">
                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i> Supprimer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
