{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

{{ form_errors(form) }} {# <--- très important ! #}

    <div class="mb-3">
        {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.nom) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.ville, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.ville) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.annee_fondation, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.annee_fondation, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.annee_fondation) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.stade, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.stade, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.stade) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.logo, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.logo, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.logo) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.utilisateur, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.utilisateur, {'attr': {'class': 'form-select'}}) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.utilisateur) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
